.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


img{
  width: 100px;
  margin-top: -10px;


}

.cart-wrapper{
  height: 120px;
  width: 500px;
  border: 1px solid #ccc;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.btn{
  background-color: blue;
  display: inline-block;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: white;
}

.item{
  display: inline-block;
  padding: 20px;
  height: 70px;

}


.add-to-cart img{
  width: 50px;
  position: absolute;
  top: 5%;
  right: 10%;
}

.remove-btn{
  background-color: red;
}