.add-new-goal-form{
    font-size: 16px;
}

.add-new-goal-form input {
    max-width: 300px;
    margin-right: 25px;
}

.add-new-goal-form button{
    display: inline-block;
    width: 65px;
    height: 25px;
}